
@import url("https://cdn.jsdelivr.com/gh/baige007/ttf/HarmonyOS_Sans_SC_Medium.woff");
@import url("https://cdn.jsdelivr.com/gh/baige007/ttf/HarmonyOS_Sans_SC_Medium.woff2");

body {
	font-family: "Inter", "Noto Sans SC", "Sans Serif", Arial;
	font-weight: 400;
	line-height: 1.4;
	font-size: 16px;
}
